<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Quotes POST</title>
    <link rel="stylesheet" href="../../static/form.css">
  </head>
  <body>
    {{ error }}
    <div class="wrapper">
      <form method="post">
        <p><input placeholder="Name" class="name" type="text" name="username" /></p>
        <p><textarea placeholder="Quote" class="quote" type="text" name="quotes" /></textarea></p>
        <p><input class="add" type="submit" value="Add Quote" /></p>
      </form>
    </div>
  </body>
</html>
